# Compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Ignored Mathematica files shall be prefixed by _
_*.nb
*.fdb_latexmk
*.gz
*.pdf
.DS_Store
*~
*.sw[op]
.olex
.git-notifier*
git-notifier.log
.gitversion
.cache
