* text=auto !eol
Applications/Doc/xia2scan.pdf -text
Experts/Doc/FindImages.pdf -text
Modules/Doc/Indexer.pdf -text
Wrappers/CCP4/Doc/Combat.pdf -text
Wrappers/CCP4/Doc/General.pdf -text
Wrappers/CCP4/Doc/Mosflm.pdf -text
Wrappers/CCP4/Doc/Mtzdump.pdf -text
Wrappers/CCP4/Doc/Reindex.pdf -text
Wrappers/CCP4/Doc/Scala.pdf -text
Wrappers/CCP4/Doc/Sortmtz.pdf -text
Wrappers/Labelit/Doc/LabelitDistl.pdf -text
Wrappers/Labelit/Doc/LabelitScreen.pdf -text
Wrappers/Labelit/Doc/LabelitStats_distl.pdf -text
