* text=auto !eol
Applications/__init__.py -text
Applications/pydiffdump -text
Applications/pydiffdump.bat -text
Applications/pydiffdump.py -text
Applications/xia2ccp4i -text
Applications/xia2ccp4i.py -text
Applications/xia2hdr -text
Applications/xia2hdr.py -text
Applications/xia2merger -text
Applications/xia2merger.bat -text
Applications/xia2merger.py -text
Applications/xia2setup_helpers.py -text
Data/detectors.lib -text
Handlers/Executables.py -text
Handlers/Phil.py -text
Modules/Indexer/DialsIndexer.py -text
Modules/Indexer/IndexerSelectImages.py -text
Modules/Indexer/LabelitIndexer.py -text
Modules/Indexer/LabelitIndexerII.py -text
Modules/Indexer/MosflmIntegrateAbsences.py -text
Modules/Indexer/XDSIndexerSum.py -text
Modules/Indexer/__init__.py -text
Modules/Integrater/DialsIntegrater.py -text
Modules/Integrater/__init__.py -text
Modules/Scaler/CCP4ScalerA.py -text
Modules/Scaler/CommonScaler.py -text
Modules/Scaler/XDSScalerA.py -text
Modules/Scaler/__init__.py -text
Modules/Scaler/compute_average_unit_cell.py -text
Modules/Scaler/rebatch.py -text
Modules/TTT.py -text
Modules/Xia2html/extras/JLogGraph.jar -text
Modules/Xia2html/icons/img_abandoned.png -text
Modules/Xia2html/icons/img_bad_rmsd.png -text
Modules/Xia2html/icons/img_good.png -text
Modules/Xia2html/icons/img_many_bad.png -text
Modules/Xia2html/icons/img_ok.png -text
Modules/Xia2html/icons/img_overloaded.png -text
Modules/Xia2html/icons/img_weak.png -text
Modules/Xia2html/icons/info.png -text
Modules/Xia2html/icons/warning.png -text
Schema/XLattice.py -text
Test/Dials/Platform.py -text
Test/Modules/Indexer/TstDialsIndexer.py -text
Test/Modules/Indexer/TstLabelitIndexer.py -text
Test/Modules/Indexer/TstLabelitIndexerII.py -text
Test/Modules/Indexer/TstXDSIndexer.py -text
Test/Modules/Indexer/TstXDSIndexerII.py -text
Test/Mosflm/MosflmRefactorTest.py -text
Test/Mosflm/Platform.py -text
Test/Mosflm/PlatformHelpers.py -text
Test/Wrappers/Dials/TstDialsWrappers.py -text
Test/Wrappers/Labelit/TstLabelitIndex.py -text
Test/Wrappers/Mosflm/TstMosflmIndex.py -text
Test/Wrappers/Mosflm/TstMosflmIntegrate.py -text
Test/Wrappers/Mosflm/TstMosflmRefineCell.py -text
Toolkit/BackstopMask.py -text
Toolkit/E4.py -text
Toolkit/FrameCC.py -text
Toolkit/MendBKGINIT.py -text
Toolkit/PolyFitter.py -text
Toolkit/__init__.py -text
Wrappers/CCP4/AimlessHelpers.py -text
Wrappers/CCP4/Ctruncate.py -text
Wrappers/Cctbx/BrehmDiederichs.py -text
Wrappers/Cctbx/__init__.py -text
Wrappers/Dials/Attic/Spotfinder.py -text
Wrappers/Dials/ExportMtz.py -text
Wrappers/Dials/ExportSpotXDS.py -text
Wrappers/Dials/ExportXDS.py -text
Wrappers/Dials/Import.py -text
Wrappers/Dials/Index.py -text
Wrappers/Dials/Integrate.py -text
Wrappers/Dials/Refine.py -text
Wrappers/Dials/RefineBravaisSettings.py -text
Wrappers/Dials/Reindex.py -text
Wrappers/Dials/ShowIsigRmsd.py -text
Wrappers/Dials/Spotfinder.py -text
Wrappers/Dials/__init__.py -text
Wrappers/Labelit/DistlSignalStrength.py -text
Wrappers/Labelit/DistlSweepStrength.py -text
Wrappers/Labelit/LabelitIndex.py -text
Wrappers/Labelit/LabelitMosflmMatrix.py -text
Wrappers/Mosflm/Autoindex.py -text
Wrappers/Mosflm/AutoindexHelpers.py -text
Wrappers/Mosflm/Exceptions.py -text
Wrappers/Mosflm/Findspots.py -text
Wrappers/Mosflm/GenerateRaster.py -text
Wrappers/Mosflm/Header.py -text
Wrappers/Mosflm/MosflmIndex.py -text
Wrappers/Mosflm/MosflmIntegrate.py -text
Wrappers/Mosflm/MosflmRefineCell.py -text
Wrappers/Mosflm/__init__.py -text
Wrappers/XDS/Merge2cbf.py -text
Wrappers/XDS/XDSFiles.py -text
Wrappers/XDS/XDSGenerateIgnoreFiles.py -text
Wrappers/XDS/XScaleR.py -text
command_line/xia2.new.py -text
command_line/xia2.setup.py -text
core/Python/Background/Background.py -text
core/Python/Background/__init__.py -text
core/Python/Decorators/CCP4Decorator.py -text
core/Python/Decorators/DecoratorFactory.py -text
core/Python/Decorators/DecoratorHelper.py -text
core/Python/Decorators/__init__.py -text
core/Python/Decorators/readme.txt -text
core/Python/Driver/ClusterDriverFactory.py -text
core/Python/Driver/DefaultClusterDriver.py -text
core/Python/Driver/DefaultDriver.py -text
core/Python/Driver/DriverFactory.py -text
core/Python/Driver/DriverHelper.py -text
core/Python/Driver/InteractiveDriver.py -text
core/Python/Driver/PythonDriver.py -text
core/Python/Driver/QSubDriver.py -text
core/Python/Driver/ScriptDriver.py -text
core/Python/Driver/SimpleDriver.py -text
core/Python/Driver/SunGridEngineClusterDriver.py -text
core/Python/Driver/__init__.py -text
core/Python/Driver/readme.txt -text
core/Python/Driver/todo.txt -text
core/Python/DriverExceptions/NotAvailableError.py -text
core/Python/DriverExceptions/__init__.py -text
core/Python/TestPython.py -text
core/Python/XIA2CoreVersion.py -text
core/Python/readme.txt -text
core/Test/Compiled/EPAbrt.c -text
core/Test/Compiled/EPBus.c -text
core/Test/Compiled/EPKill.c -text
core/Test/Compiled/EPLib.c -text
core/Test/Compiled/EPLib2.c -text
core/Test/Compiled/EPLib2.h -text
core/Test/Compiled/EPSegv.c -text
core/Test/Compiled/build.bat -text
core/Test/Compiled/build.mac -text
core/Test/Compiled/build.sh -text
core/Test/Compiled/readme.txt -text
core/Test/ExampleProgram -text
core/Test/ExampleProgram.bat -text
core/Test/ExampleProgram.py -text
core/Test/ExampleProgramCommandLine -text
core/Test/ExampleProgramCommandLine.bat -text
core/Test/ExampleProgramCommandLine.py -text
core/Test/ExampleProgramCommandLineStandardInput -text
core/Test/ExampleProgramCommandLineStandardInput.bat -text
core/Test/ExampleProgramCommandLineStandardInput.py -text
core/Test/ExampleProgramLooseLoop -text
core/Test/ExampleProgramLooseLoop.bat -text
core/Test/ExampleProgramLooseLoop.py -text
core/Test/ExampleProgramRaiseException -text
core/Test/ExampleProgramRaiseException.bat -text
core/Test/ExampleProgramRaiseException.py -text
core/Test/ExampleProgramStandardInput -text
core/Test/ExampleProgramStandardInput.bat -text
core/Test/ExampleProgramStandardInput.py -text
core/Test/ExampleProgramTightLoop -text
core/Test/ExampleProgramTightLoop.bat -text
core/Test/ExampleProgramTightLoop.py -text
core/Test/readme.txt -text
core/readme.txt -text
html/phils/fixed_scale_factors.phil -text
html/phils/micromanage_integrate.phil -text
html/phils/pixels_per_spot.phil -text
html/xia2-new-logo.gif -text
html/xia2-new-logo.psd -text
/libtbx_config -text
/run_tests.py -text
