* text=auto !eol
Applications/Doc/xia2scan.pdf -text
Applications/Doc/xia2setup.pdf -text
Applications/__init__.py -text
Applications/aimless2gnuplot -text
Applications/cbf_mini_to_full_cbf_with_template -text
Applications/cbfdump -text
Applications/cbfdump.bat -text
Applications/print_labelit_exception -text
Applications/print_labelit_exception.py -text
Applications/pydiffdump -text
Applications/pydiffdump.bat -text
Applications/pydiffdump.py -text
Applications/pydiffdump2xds -text
Applications/scala2gnuplot -text
Applications/test_image_header -text
Applications/test_image_header.py -text
Applications/test_pilatus_scan -text
Applications/x1335 -text
Applications/x1691 -text
Attic/Attic1.py -text
Attic/bitbx/examples/integrate.hkl -text
Attic/bitbx/examples/xparm-uc1-2.xds -text
Attic/bitbx/examples/xparm.xds -text
Attic/bitbx/readme.txt -text
Attic/bitbx/uc1_1.py -text
Attic/bitbx/uc1_2.py -text
Attic/bitbx/uc1_2_validate.py -text
Attic/found_in_toolkit_multi.py -text
Attic/found_in_toolkit_small.py -text
Data/detectors.lib -text
Experts/Doc/FindImages.pdf -text
Experts/TestSymmetryExpert.py -text
Experts/example.xparm -text
Handlers/Doc/CommandLine.pdf -text
Handlers/Doc/Decision.pdf -text
Handlers/Doc/Syminfo.pdf -text
Handlers/Doc/Xinfo.pdf -text
Handlers/Executables.py -text
Handlers/Phil.py -text
Modules/Doc/CCP4ScalerImplementation.pdf -text
Modules/Doc/Indexer.pdf -text
Modules/Doc/IndexerFactory.pdf -text
Modules/Doc/XDSIndexer.pdf -text
Modules/Doc/XDSIntegrater.pdf -text
Modules/Indexer/IndexerSelectImages.py -text
Modules/Indexer/MosflmIntegrateAbsences.py -text
Modules/Indexer/__init__.py -text
Modules/Integrater/__init__.py -text
Modules/SPOT.XDS -text svneol=unset#application/octet-stream
Modules/Scaler/CCP4ScalerA.py -text
Modules/Scaler/CCP4ScalerR.py -text
Modules/Scaler/XDSScalerA.py -text
Modules/Scaler/XDSScalerR.py -text
Modules/Scaler/__init__.py -text
Modules/Scaler/compute_average_unit_cell.py -text
Modules/Scaler/rebatch.py -text
Modules/TTT.py -text
Modules/XPARM.XDS -text svneol=unset#application/octet-stream
Modules/Xia2html/extras/JLogGraph.jar -text
Modules/Xia2html/icons/img_abandoned.png -text
Modules/Xia2html/icons/img_bad_rmsd.png -text
Modules/Xia2html/icons/img_blank.png -text
Modules/Xia2html/icons/img_good.png -text
Modules/Xia2html/icons/img_many_bad.png -text
Modules/Xia2html/icons/img_ok.png -text
Modules/Xia2html/icons/img_overloaded.png -text
Modules/Xia2html/icons/info.png -text
Modules/Xia2html/icons/warning.png -text
Schema/Doc/Structure.pdf -text
Schema/Interfaces/Doc/Interfaces.pdf -text
Schema/Interfaces/Doc/scaler-refactor.txt -text
Schema/Interfaces/NextGeneration/design.txt -text
Schema/Interfaces/NextGeneration/dip.py -text
Schema/Interfaces/NextGeneration/index.py -text
Schema/Interfaces/NextGeneration/index_test.py -text
Schema/Interfaces/NextGeneration/integrate.py -text
Schema/Interfaces/NextGeneration/labelit.py -text
Schema/Interfaces/NextGeneration/mosflm.py -text
Schema/Interfaces/NextGeneration/processing_plugin.py -text
Toolkit/BackstopMask.py -text
Toolkit/ComputeU.py -text
Toolkit/KBScale.py -text
Toolkit/MultiMerger.py -text
Toolkit/PlayPen/ExperimentSetup.py -text
Toolkit/PlayPen/MendBKGINIT.py -text
Toolkit/PlayPen/TestMinimise.py -text
Toolkit/PlayPen/__init__.py -text
Toolkit/PlayPen/aimless2gnuplot.py -text
Toolkit/PlayPen/analyse_spot_xds.py -text
Toolkit/PlayPen/cc.py -text
Toolkit/PlayPen/centring.py -text
Toolkit/PlayPen/densmap.py -text
Toolkit/PlayPen/empty_cbf.py -text
Toolkit/PlayPen/erzatz_symmetry.py -text
Toolkit/PlayPen/gxparm.xds -text
Toolkit/PlayPen/lattice_play.py -text
Toolkit/PlayPen/mosflm_matrix_things.py -text
Toolkit/PlayPen/mosflm_rms.py -text
Toolkit/PlayPen/mtz2nxs.py -text
Toolkit/PlayPen/nwrite.c -text
Toolkit/PlayPen/parse-integrate-scale-factors.py -text
Toolkit/PlayPen/rexinfo.py -text
Toolkit/PlayPen/rooster.py -text
Toolkit/PlayPen/rotomat.py -text
Toolkit/PlayPen/rumble.py -text
Toolkit/PlayPen/scala2gnuplot.py -text
Toolkit/PlayPen/scale-play.py -text
Toolkit/PlayPen/spot2q.py -text
Toolkit/PlayPen/ward_cluster.py -text
Toolkit/PlayPen/x1334.lp -text
Toolkit/PlayPen/x1334.py -text
Toolkit/PlayPen/x1335.lp -text
Toolkit/PlayPen/x1335.py -text
Toolkit/PolyFitter.py -text
Toolkit/ReadHeader/ReadHeader.py -text
Toolkit/ReadHeader/ReadHeaderA200.py -text
Toolkit/ReadHeader/ReadHeaderADSC.py -text
Toolkit/ReadHeader/ReadHeaderCBF.py -text
Toolkit/ReadHeader/ReadHeaderFactory.py -text
Toolkit/ReadHeader/ReadHeaderMARCCD.py -text
Toolkit/ReadHeader/ReadHeaderMARIP.py -text
Toolkit/ReadHeader/ReadHeaderPILATUS.py -text
Toolkit/ReadHeader/ReadHeaderPILATUSMiniCBF.py -text
Toolkit/ReadHeader/ReadHeaderRAXIS.py -text
Toolkit/ReadHeader/ReadHeaderSMV.py -text
Toolkit/ReadHeader/ReadHeaderSaturn.py -text
Toolkit/Tickets/x1690.py -text
Toolkit/Tickets/x1691.py -text
Toolkit/Tickets/x1696.py -text
Toolkit/XDS2CBF.py -text
Toolkit/__init__.py -text
Toolkit/backstop-mask-i03-15may10.dat -text
Toolkit/byte_offset.cpp -text
Toolkit/cbf_mini_to_full_with_template.py -text
Toolkit/cbfdump.py -text
Toolkit/example-adsc-cif-header.cif -text
Toolkit/find_HKL.py -text
Toolkit/fred_header.cbf -text
Toolkit/guess_the_atom.py -text
Toolkit/metatemplate.txt -text
Toolkit/superdoofus.py -text
Toolkit/test_pilatus_scan.py -text
Wrappers/CCP4/Doc/Chooch.pdf -text
Wrappers/CCP4/Doc/Combat.pdf -text
Wrappers/CCP4/Doc/General.pdf -text
Wrappers/CCP4/Doc/Mosflm.pdf -text
Wrappers/CCP4/Doc/Mtzdump.pdf -text
Wrappers/CCP4/Doc/Reindex.pdf -text
Wrappers/CCP4/Doc/Scala.pdf -text
Wrappers/CCP4/Doc/Sortmtz.pdf -text
Wrappers/Labelit/DistlSignalStrength.py -text
Wrappers/Labelit/Doc/LabelitDistl.pdf -text
Wrappers/Labelit/Doc/LabelitScreen.pdf -text
Wrappers/Labelit/Doc/LabelitStats_distl.pdf -text
Wrappers/Labelit/LabelitIndexII.py -text
Wrappers/Labelit/LabelitMosflmMatrix.py -text
Wrappers/XDS/XScaleR.py -text
Wrappers/dTREK/Doc/dTREK.pdf -text
cftbx/__init__.py -text
cftbx/coordinate_frame_converter.py -text
cftbx/coordinate_frame_helpers.py -text
cftbx/readme.txt -text
cftbx/tests/example-mosflm.mat -text
cftbx/tests/example-xparm.xds -text
dxtbx/__init__.py -text
dxtbx/example/to_xds.py -text
dxtbx/format/Format.py -text
dxtbx/format/FormatCBF.py -text
dxtbx/format/FormatCBFFull.py -text
dxtbx/format/FormatCBFFullPilatus.py -text
dxtbx/format/FormatCBFMini.py -text
dxtbx/format/FormatCBFMiniPilatus.py -text
dxtbx/format/FormatCBFMiniPilatusHelpers.py -text
dxtbx/format/FormatMAR.py -text
dxtbx/format/FormatPilatusHelpers.py -text
dxtbx/format/FormatRAXIS.py -text
dxtbx/format/FormatSMV.py -text
dxtbx/format/FormatSMVADSC.py -text
dxtbx/format/FormatSMVADSCHelpers.py -text
dxtbx/format/FormatSMVADSCSN457.py -text
dxtbx/format/FormatSMVRigakuSaturn.py -text
dxtbx/format/FormatSMVRigakuSaturnSN07400090.py -text
dxtbx/format/FormatTIFF.py -text
dxtbx/format/FormatTIFFHelpers.py -text
dxtbx/format/FormatTIFFRayonix.py -text
dxtbx/format/Registry.py -text
dxtbx/format/RegistryHelpers.py -text
dxtbx/format/__init__.py -text
dxtbx/format/doc/adding_new_formats.txt -text
dxtbx/format/tests/TestFormat.py -text
dxtbx/format/tests/TestRegistry.py -text
dxtbx/model/__init__.py -text
dxtbx/model/beam.py -text
dxtbx/model/detector.py -text
dxtbx/model/detector_helpers.py -text
dxtbx/model/detector_helpers_types.py -text
dxtbx/model/goniometer.py -text
dxtbx/model/goniometer_helpers.py -text
dxtbx/model/scan.py -text
dxtbx/model/scan_helpers.py -text
dxtbx/model/tests/example-xparm.xds -text
dxtbx/model/tests/image_001.dat -text
dxtbx/model/tests/image_002.dat -text
dxtbx/model/tests/image_003.dat -text
dxtbx/model/tests/image_004.dat -text
dxtbx/model/tests/image_005.dat -text
dxtbx/model/tests/image_006.dat -text
dxtbx/model/tests/image_007.dat -text
dxtbx/model/tests/image_008.dat -text
dxtbx/model/tests/image_009.dat -text
dxtbx/model/tests/image_010.dat -text
dxtbx/model/tests/image_011.dat -text
dxtbx/model/tests/image_012.dat -text
dxtbx/model/tests/image_013.dat -text
dxtbx/model/tests/image_014.dat -text
dxtbx/model/tests/image_015.dat -text
dxtbx/model/tests/image_016.dat -text
dxtbx/model/tests/image_017.dat -text
dxtbx/model/tests/image_018.dat -text
dxtbx/model/tests/image_019.dat -text
dxtbx/model/tests/image_020.dat -text
dxtbx/model/tests/omega_scan.cbf -text svneol=unset#unset
dxtbx/model/tests/phi_scan_001.cbf -text svneol=unset#unset
dxtbx/model/tests/test_beam.py -text
dxtbx/model/tests/test_detector.py -text
dxtbx/model/tests/test_goniometer.py -text
dxtbx/model/tests/test_scan.py -text
dxtbx/readme.txt -text
html/manual/xia2-in-a-nutshell/diamond-background.png -text
html/manual/xia2-in-a-nutshell/figures/3qrn-all-complete-aimless.png -text
html/manual/xia2-in-a-nutshell/figures/3qrn-all-rmerge-aimless.png -text
html/manual/xia2-in-a-nutshell/figures/3qrn-all-rmerge.png -text
html/manual/xia2-in-a-nutshell/figures/3qrn-diffraction.png -text
html/manual/xia2-in-a-nutshell/figures/3qrn-sub-complete-aimless.png -text
html/manual/xia2-in-a-nutshell/figures/3qrn-sub-complete-aimless.ps -text
html/manual/xia2-in-a-nutshell/figures/3qrn-sub-rmerge-aimless.png -text
html/manual/xia2-in-a-nutshell/figures/Ewald2Image.pdf -text
html/manual/xia2-in-a-nutshell/figures/Ewald3Image.pdf -text
html/manual/xia2-in-a-nutshell/figures/EwaldExplain.pdf -text
html/manual/xia2-in-a-nutshell/figures/blackbox.png -text
html/manual/xia2-in-a-nutshell/figures/bucket-of-images.jpg -text
html/manual/xia2-in-a-nutshell/figures/bucket.jpg -text
html/manual/xia2-in-a-nutshell/figures/callcentre.jpg -text
html/manual/xia2-in-a-nutshell/figures/christmas-tree-nothing-crystal.png -text
html/manual/xia2-in-a-nutshell/figures/christmas-tree-nothing-sweep.png -text
html/manual/xia2-in-a-nutshell/figures/christmas-tree-nothing-wavelength.png -text
html/manual/xia2-in-a-nutshell/figures/christmas-tree-nothing.png -text
html/manual/xia2-in-a-nutshell/figures/christmas-tree-with-crystal.png -text
html/manual/xia2-in-a-nutshell/figures/christmas-tree-with-sweeps.png -text
html/manual/xia2-in-a-nutshell/figures/christmas-tree-with-wavelength.png -text
html/manual/xia2-in-a-nutshell/figures/christmas-tree.png -text
html/manual/xia2-in-a-nutshell/figures/crystal-image.jpg -text
html/manual/xia2-in-a-nutshell/figures/edge-scan.jpg -text
html/manual/xia2-in-a-nutshell/figures/example-diffraction-image-small.jpg -text
html/manual/xia2-in-a-nutshell/figures/example-diffraction-image.jpg -text
html/manual/xia2-in-a-nutshell/figures/keyboard.jpg -text
html/manual/xia2-in-a-nutshell/figures/linux-in-a-nutshell.jpg -text
html/manual/xia2-in-a-nutshell/figures/mouse.jpg -text
html/manual/xia2-in-a-nutshell/figures/no-blackbox.png -text
html/manual/xia2-in-a-nutshell/figures/no-mouse.jpg -text
html/manual/xia2-in-a-nutshell/figures/no_images.pdf -text
html/manual/xia2-in-a-nutshell/figures/phi_spacing_45a.pdf -text
html/manual/xia2-in-a-nutshell/figures/phi_spacing_90a.pdf -text
html/manual/xia2-in-a-nutshell/figures/plat-13A-z4.pdf -text
html/manual/xia2-in-a-nutshell/figures/protk-completeness.png -text
html/manual/xia2-in-a-nutshell/figures/protk-image.jpg -text
html/manual/xia2-in-a-nutshell/figures/protk-rmerge-1.27.png -text
html/manual/xia2-in-a-nutshell/figures/protk-rmerge.png -text
html/manual/xia2-in-a-nutshell/figures/quartz.jpg -text
html/manual/xia2-in-a-nutshell/figures/resolution.svg -text
html/manual/xia2-in-a-nutshell/figures/scaling-step-1.pdf -text
html/manual/xia2-in-a-nutshell/figures/scaling-step-2.pdf -text
html/manual/xia2-in-a-nutshell/figures/scaling-step-3.pdf -text
html/manual/xia2-in-a-nutshell/figures/terminal.png -text
html/manual/xia2-in-a-nutshell/figures/two-s-one-w.png -text
html/manual/xia2-in-a-nutshell/figures/two-s-two-w.png -text
html/manual/xia2-in-a-nutshell/figures/two-sweeps-one-wavelength.svg -text
html/manual/xia2-in-a-nutshell/figures/two-sweeps-two-wavelengths.svg -text
html/manual/xia2-in-a-nutshell/figures/xia2-in-a-nutshell.jpg -text
html/manual/xia2-in-a-nutshell/figures/xia2html.png -text
html/manual/xia2-in-a-nutshell/figures/xinfo-structure.png -text
html/manual/xia2-in-a-nutshell/figures/xinfo-structure.svg -text
html/manual/xia2-in-a-nutshell/figures/xinfo.png -text
html/manual/xia2-in-a-nutshell/figures/xkcd_christmas_tree.png -text
html/manual/xia2-in-a-nutshell/manual.pdf -text
html/manual/xia2-in-a-nutshell/manual.tex -text
html/talks/ccp4-sw-2012/beamercolorthemedls.sty -text
html/talks/ccp4-sw-2012/diamond-background.png -text
html/talks/ccp4-sw-2012/figures/3qrn-all-complete-aimless.png -text
html/talks/ccp4-sw-2012/figures/3qrn-all-rmerge-aimless.png -text
html/talks/ccp4-sw-2012/figures/3qrn-all-rmerge.png -text
html/talks/ccp4-sw-2012/figures/3qrn-diffraction.png -text
html/talks/ccp4-sw-2012/figures/3qrn-sub-complete-aimless.png -text
html/talks/ccp4-sw-2012/figures/3qrn-sub-complete-aimless.ps -text
html/talks/ccp4-sw-2012/figures/3qrn-sub-rmerge-aimless.png -text
html/talks/ccp4-sw-2012/figures/Ewald2Image.pdf -text
html/talks/ccp4-sw-2012/figures/Ewald3Image.pdf -text
html/talks/ccp4-sw-2012/figures/EwaldExplain.pdf -text
html/talks/ccp4-sw-2012/figures/blackbox.png -text
html/talks/ccp4-sw-2012/figures/bucket-of-images.jpg -text
html/talks/ccp4-sw-2012/figures/bucket.jpg -text
html/talks/ccp4-sw-2012/figures/callcentre.jpg -text
html/talks/ccp4-sw-2012/figures/christmas-tree-nothing-crystal.png -text
html/talks/ccp4-sw-2012/figures/christmas-tree-nothing-sweep.png -text
html/talks/ccp4-sw-2012/figures/christmas-tree-nothing-wavelength.png -text
html/talks/ccp4-sw-2012/figures/christmas-tree-nothing.png -text
html/talks/ccp4-sw-2012/figures/christmas-tree-with-crystal.png -text
html/talks/ccp4-sw-2012/figures/christmas-tree-with-sweeps.png -text
html/talks/ccp4-sw-2012/figures/christmas-tree-with-wavelength.png -text
html/talks/ccp4-sw-2012/figures/christmas-tree.png -text
html/talks/ccp4-sw-2012/figures/crystal-image.jpg -text
html/talks/ccp4-sw-2012/figures/edge-scan.jpg -text
html/talks/ccp4-sw-2012/figures/example-diffraction-image-small.jpg -text
html/talks/ccp4-sw-2012/figures/example-diffraction-image.jpg -text
html/talks/ccp4-sw-2012/figures/keyboard.jpg -text
html/talks/ccp4-sw-2012/figures/linux-in-a-nutshell.jpg -text
html/talks/ccp4-sw-2012/figures/mouse.jpg -text
html/talks/ccp4-sw-2012/figures/no-blackbox.png -text
html/talks/ccp4-sw-2012/figures/no-mouse.jpg -text
html/talks/ccp4-sw-2012/figures/no_images.pdf -text
html/talks/ccp4-sw-2012/figures/phi_spacing_45a.pdf -text
html/talks/ccp4-sw-2012/figures/phi_spacing_90a.pdf -text
html/talks/ccp4-sw-2012/figures/plat-13A-z4.pdf -text
html/talks/ccp4-sw-2012/figures/protk-completeness.png -text
html/talks/ccp4-sw-2012/figures/protk-image.jpg -text
html/talks/ccp4-sw-2012/figures/protk-rmerge-1.27.png -text
html/talks/ccp4-sw-2012/figures/protk-rmerge.png -text
html/talks/ccp4-sw-2012/figures/quartz.jpg -text
html/talks/ccp4-sw-2012/figures/resolution.svg -text
html/talks/ccp4-sw-2012/figures/scaling-step-1.pdf -text
html/talks/ccp4-sw-2012/figures/scaling-step-2.pdf -text
html/talks/ccp4-sw-2012/figures/scaling-step-3.pdf -text
html/talks/ccp4-sw-2012/figures/terminal.png -text
html/talks/ccp4-sw-2012/figures/two-s-one-w.png -text
html/talks/ccp4-sw-2012/figures/two-s-two-w.png -text
html/talks/ccp4-sw-2012/figures/two-sweeps-one-wavelength.svg -text
html/talks/ccp4-sw-2012/figures/two-sweeps-two-wavelengths.svg -text
html/talks/ccp4-sw-2012/figures/xia2-in-a-nutshell.jpg -text
html/talks/ccp4-sw-2012/figures/xinfo-structure.png -text
html/talks/ccp4-sw-2012/figures/xinfo-structure.svg -text
html/talks/ccp4-sw-2012/figures/xinfo.png -text
html/talks/ccp4-sw-2012/figures/xkcd_christmas_tree.png -text
html/talks/ccp4-sw-2012/presentation.pdf -text
html/talks/ccp4-sw-2012/presentation.tex -text
html/talks/strubi-early-2012/beamercolorthemedls.sty -text
html/talks/strubi-early-2012/diamond-background.png -text
html/talks/strubi-early-2012/figures/cc_d.pdf -text
html/talks/strubi-early-2012/figures/insulin.pdf -text
html/talks/strubi-early-2012/figures/kamel.pdf -text
html/talks/strubi-early-2012/figures/thaumatin.pdf -text
html/talks/strubi-early-2012/presentation.pdf -text
html/talks/strubi-early-2012/presentation.tex -text
html/xia2-new-logo.gif -text
html/xia2-new-logo.psd -text
