# Compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Temporary files
.cache
.pytest_cache

# Documentation build
/doc/sphinx/build

# Regression test outputs
/Test/regression/output

# VS code
.vscode

# Python packaging
/dist
/xia2.egg-info

# Ignored Mathematica files shall be prefixed by _
_*.nb

# Python3 migration testing
.python3-test-failures.new

*.fdb_latexmk
*.gz
*.pdf
.DS_Store
*~
*.sw[op]
*.log
.olex
.git-notifier*
git-notifier.log
.gitversion
