ci:
  autoupdate_schedule: monthly

repos:
# Syntax validation and some basic sanity checks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-merge-conflict
  - id: check-ast
    fail_fast: true
  - id: check-json
  - id: check-added-large-files
    args: [--maxkb=200]
  - id: check-yaml
  - id: no-commit-to-branch
    name: Don't commit to 'main'

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.6.3
  hooks:
    - id: ruff
      args: [--fix, --exit-non-zero-on-fix, --show-fixes]
    - id: ruff-format
      files: \.pyi?$|SConscript$|^libtbx_config$
      types: [file]

# Type checking
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.11.2
  hooks:
  - id: mypy
    files: src/.*\.py$
    additional_dependencies: [types-docutils, types-PyYAML]

# YAML formatter
- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.3
  hooks:
  - id: yamlfmt
    args: [--mapping, '2', --sequence, '2', --offset, '0', --width, '150', --implicit_start]
    exclude: .pre-commit-config.yaml
