{% import 'xia2_macros.html' as xia2_macros %}


{% extends "report_base.html" %}
{% block content %}

<div class="container">

    <div class="page-header">
        <h1>{{ page_title }}</h1>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" data-target="#home">Summary</a></li>

        {% for cluster_name, item in individual_dataset_reports.items() %}
            <li><a data-toggle="tab" data-target="#dataset_{{ cluster_name | replace(" ", "_") }}">{{ cluster_name }}</a></li>
        {% endfor %}

        <li><a data-toggle="tab" data-target="#output_files">Output files</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane in active">

            <h2>Analysis plots</h2>

            <div class="panel-group">

                {{ macros.panel('Cluster comparison', 'comparison_graphs', comparison_graphs) }}

                {{ macros.panel('Unit cell analysis', 'unit_cell', unit_cell_graphs, styles=styles) }}

                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#collapse_intensity_cluster">
                        <h4 class="panel-title">
                            <a>Intensity clustering</a>
                        </h4>
                    </div>
                    <div id="collapse_intensity_cluster" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-target="#collapse_cc_cluster">
                                    <h4 class="panel-title">
                                        <a>Correlation coefficient clustering</a>
                                    </h4>
                                </div>
                                <div id="collapse_cc_cluster" class="panel-collapse collapse">
                                    <div class="panel-body">

                                        <div class="container-fluid">
                                            {{ macros.table(cc_cluster_table,
                                                            has_column_header=true,
                                                            has_row_header=true) }}
                                            {{ macros.plotly_graph("cc_cluster", cc_cluster_json, style="dendrogram-plot") }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-target="#collapse_cos_angle_cluster">
                                    <h4 class="panel-title">
                                        <a>Cos angle clustering</a>
                                    </h4>
                                </div>
                                <div id="collapse_cos_angle_cluster" class="panel-collapse collapse">
                                    <div class="panel-body">

                                        <div class="container-fluid">
                                            {{ macros.table(cos_angle_cluster_table,
                                                            has_column_header=true,
                                                            has_row_header=true) }}
                                            {{ macros.plotly_graph("cos_angle_cluster", cos_angle_cluster_json, style="dendrogram-plot") }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

        {% for cluster_name, item in individual_dataset_reports.items() %}

            <div id="dataset_{{ cluster_name | replace(" ", "_") }}" class="tab-pane">

                <div>
                    <h2>Detailed statistics for dataset {{ cluster_name }}</h2>

                    <div class="panel-group">

                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" data-target="#collapse_overall_{{ cluster_name }}">
                                <h4 class="panel-title">
                                    <a>Overall</a>
                                </h4>
                            </div>
                            <div id="collapse_overall_{{ cluster_name | replace(" ", "_") }}" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div style="width: 800px">
                                        {{ macros.table(item['overall_statistics_table'],
                                                        has_column_header=true,
                                                        has_row_header=true) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" data-target="#collapse_merging_stats_{{ cluster_name | replace(" ", "_") }}">
                                <h4 class="panel-title">
                                    <a>Resolution shells</a>
                                </h4>
                            </div>
                            <div id="collapse_merging_stats_{{ cluster_name | replace(" ", "_") }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    {{ macros.table(item['merging_statistics_table'],
                                                    has_column_header=true) }}
                                  *significant at p={{ cc_half_significance_level }}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div>
                    <h2>Analysis plots</h2>

                    <div class="panel-group">
                        {{ macros.panel('Analysis by resolution', 'resolution_' + cluster_name | replace(" ", "_"), item['resolution_graphs']) }}
                        {{ macros.panel('Analysis by batch', 'batch_' + cluster_name | replace(" ", "_"), item['batch_graphs']) }}
                        {{ macros.panel('Miscellaneous', 'misc_' + cluster_name | replace(" ", "_"), item['misc_graphs'], styles=styles) }}
                    </div>

                </div>

            </div>

        {% endfor %}

    </div>

</div>



{% endblock %}

<div>
  <p>{{ xia2_version }}</p>
</div>
