/* xia2.css
   Stylesheet for xia2.html
   CVS_id $Id: xia2.css,v 1.2 2009/11/19 18:55:16 pjx Exp $
   */
body { font-family: Arial, sans-serif;
       font-size: 17px;
       background-color: white; }
h1 { font-family: Georgia, serif;
     background-color: gray;
     color: white; }
h2 { font-family: Georgia, serif;
     background-color: lightgray; }
h3 { font-family: Georgia, serif;
     background-color: lightblue; }
h4 { background-color: #ffd799;
     display: inline; }

table,td,th { border-style: solid;
              border-width: 2px;
              border-spacing: 0;
              border-color: gray;
              padding: 1px;
              font-size: 90%; }
td,th { padding-left: 8px; padding-right: 8px; }

table.key { border-style: none;
            font-size: 80%; }
table.key th { background-color: gray;
               font-weight: bold;
               font-size: 85%;
               color: white; }

/* Styling the "table_one" summary table */
table.table_one { border-style: none;
                  empty-cells: show;
                  border-top-style: solid;
                  border-bottom-style: solid;
		  border-collapse: collapse;
                  background-color: #fffddc; }
table.table_one th { border-style: none;
                     border-top-style: solid;
                     border-bottom-style: solid;
                     background-color: #ffffcd;
                     padding: 10px;
                     text-align: left; }
table.table_one td { border-style: none; }
table.table_one tr.unit_cell > *:first-child { text-align: right; }

/* Footer */
p.footer { background-color: #fffddc;
           font-size: 75%;
           padding: 10px; }
