/* xia2.css
   Stylesheet for xia2.html
   CVS_id $Id: xia2.css,v 1.15 2010/01/04 11:27:25 pjx Exp $
   */
body { font-family: Arial, sans-serif;
       font-size: 17px;
       color: black;
       background-color: white; }
h1 { font-family: Georgia, serif;
     background-color: gray;
     color: white;
     padding: 5 10 5 10; }
h2 { font-family: Georgia, serif;
     background-color: lightgray;
     padding: 1 10 1 10;  }
h3 { font-family: Georgia, serif;
     background-color: lightblue;
     padding: 1 15 1 15; }
h4 { background-color: #ffd799;
     display: inline;
     padding: 1 10 1 10; }
h5 { background-color: lightgray;
     display: inline;
     padding: 1 10 1 10; }

p,table { margin-left: 10px;
          margin-right: 10px; }

/* Specific styling for section 2 elements
   They are surrounded by a solid border with the
   heading positioned across it */
div.section_2 { border: solid 3px gray;
                margin-top: 25px;
		margin-bottom: 25px;
		position: relative; }
div.section_2 h2 { color: white;
                   background-color: gray;
		   display: inline;
                   position: absolute; 
		   top: -40; left: 5; }

div.anonymous { border: none; }

/* Default styling for images */
img { vertical-align: bottom; }

/* Warnings */
.warning { background-color: red;
           color: white;
           font-size: 75%;
	   font-weight: bold;
           padding: 10px; }
.warning a { color: white; }
p.warning { width: 90%;
            margin-left: auto;
            margin-right: auto; }

.info { font-style: italic;
        font-size: 90%; }
.info img { vertical-align: middle; }

/* Default styling for all tables */
table { margin: 10px; }
table,td,th { border-style: none;
              border-spacing: 0;
              padding: 2px;
              font-size: 90%;
              empty-cells: show; }
td,th { border-style: solid;
        border-width: 2px;
        border-color: darkgray;
        padding-left: 8px;
        padding-right: 8px; }
th { background-color: gray;
     color: white;
     font-weight: bold;
     border-top-style: none;
     border-bottom-style: none; }

/* Styling the "key" table */
table.key { border-style: none;
            font-size: 80%; }
table.key th { background-color: gray;
               font-weight: bold;
               font-size: 85%;
               color: white; }

/* Styling the "xia2_info" table */
table.xia2_info { border-style: none; }
table.xia2_info td { border-style: none; }
table.xia2_info tr > td:first-child { border-style: solid;
        border-width: 2px;
	border-color: white;
	background-color: gray;
	font-weight: bold;
	color: white; }

/* Styling the "table_one" summary table */
table.table_one { border-style: none;
                  empty-cells: show;
                  border-top-style: solid;
                  border-bottom-style: solid;
		  border-collapse: collapse;
                  background-color: #fffddc; }
table.table_one th { border-style: none;
                     border-top-style: solid;
                     border-bottom-style: solid;
                     background-color: #ffffcd;
                     padding: 10px;
                     text-align: left;
                     color: black; }
table.table_one td { border-style: none; }
table.table_one td:first-child { font-weight: bold; }
table.table_one tr.unit_cell > td:first-child { text-align: right;
                                                font-weight: bold; }

/* Styling the table of reflection files */
table.refln_files { border-style: none;
                  width: 85%;
                  margin-left: auto;
                  margin-right: auto;
                  empty-cells: show; }
table.refln_files * { border-style: none;}
table.refln_files td { vertical-align: top;
                     border-bottom: 2px solid gray; }
table.refln_files tr.refln_format > td:first-child { background-color: #377cb1;
                                                     color: white;
                                                     font-weight: bold;
                                                     font-size: 100%;
                                                     border-top: 10px solid white; }
table.refln_files tr.refln_format > td { border-bottom: 2px solid #377cb1; }
table.refln_files tr.refln_header td { background-color: lightblue;
                                       color: black;
                                       font-style: italic;
                                       border-style: none;
                                       border-top: 2px solid white;
                                       border-bottom: 2px solid white; }
table.refln_files tr.useful_for td { font-weight: bold; }

/* Styling the table of log files */
table.log_files { border-style: none;
                  width: 85%;
                  margin-left: auto;
                  margin-right: auto;
                  empty-cells: show; }
table.log_files * { border-style: none;}
table.log_files td { vertical-align: bottom;
                     border-bottom: 2px solid gray; }
table.log_files tr.proc_stage > td:first-child { background-color: #377cb1;
                                                 color: white;
                                                 font-weight: bold;
                                                 font-size: 100%;
                                                 border-top: 10px solid white; }
table.log_files tr.proc_stage > td { border-bottom: 2px solid #377cb1; }
table.log_files tr.proc_description td { background-color: lightblue;
                                         color: black;
                                         font-style: italic;
                                         border-style: none;
                                         border-top: 2px solid white;
                                         border-bottom: 2px solid white; }

/* Sequence information */
.sequence { font-family: monospace; }

/* Footer */
p.footer { background-color: #fffddc;
           font-size: 75%;
           padding: 10px; }
