---
jobs:
- job: macos
  pool:
    vmImage: macOS-latest
  dependsOn: setup
  variables:
    CURRENT_WEEK: $[ dependencies.setup.outputs['constants.CURRENT_WEEK'] ]
    TODAY_ISO: $[ dependencies.setup.outputs['constants.TODAY_ISO'] ]
  strategy:
    matrix:
      python38:
        PYTHON_VERSION: 3.8
      python39:
        PYTHON_VERSION: 3.9
  timeoutInMinutes: 90

  steps:
  - template: unix-build.yml
