# Variables:
#   CACHE_VERSION: unique cache identifier
#   CURRENT_WEEK: weekly changing cache identifier
#   PYTHON_VERSION: string in the form of "3.x"
#   TODAY_ISO: today's date in ISO format, eg. "20200531"

steps:

# Obtain a shallow clone of the xia2 repository.
# xia2 will not be able to report proper version numbers
- checkout: self
  path: ./modules/xia2
  fetchDepth: 1
  displayName: Checkout $(Build.SourceBranch)

# Download the current DIALS bootstrap script
- bash: |
    wget https://raw.githubusercontent.com/dials/dials/main/installer/bootstrap.py
  workingDirectory: $(Pipeline.Workspace)
  displayName: Download DIALS bootstrap script

# Download other source repositories
- bash: |
    set -eux
    # Temporarily make this pull an explicitly mainline cctbx
    sed -i.bak 's;"releases/" + _prebuilt_cctbx_base;"master";' bootstrap.py
    python bootstrap.py update --cmake
    # Fix usage of libann in xfel
    sed -i.bak 's/"ann"/"ann_cctbx"/' modules/cctbx_project/xfel/SConscript
    sed -i.bak 's/"ann"/"ann_cctbx"/' modules/cctbx_project/xfel/mono_simulation/SConscript
  displayName: Repository checkout
  workingDirectory: $(Pipeline.Workspace)

# Create a new conda environment using the bootstrap script
# Extract the dials-data version so we can correctly cache regression data.
- script: |
    set -eux
    python bootstrap.py base --clean --cmake --python $(PYTHON_VERSION)

    set +ux
    . conda_base/bin/activate
    conda install -p conda_base -y dials-data pytest-azurepipelines pytest-cov pytest-timeout
    set -ux

    dials.data info -v
    echo "##vso[task.setvariable variable=DIALS_DATA_VERSION_FULL]$(dials.data info -v | grep version.full)"
    echo "##vso[task.setvariable variable=DIALS_DATA_VERSION]$(dials.data info -v | grep version.major_minor)"
    mkdir -p data
  displayName: Create python $(PYTHON_VERSION) environment
  workingDirectory: $(Pipeline.Workspace)

# If the build directory could not be loaded from cache then
# create a new one using the bootstrap script
- bash: |
    set -eux
    python bootstrap.py build --cmake
  displayName: Build DIALS
  workingDirectory: $(Pipeline.Workspace)

# Retrieve the regression data from cache if possible
# The cache allows day-to-day incremental updates, which is relevant only if
# tests are added that refer to datasets in dials-data that were not previously
# referred to.
# New versions of dials-data also lead to cache updates, kick-started from the
# previous cache version.
# The cache is shared across operating systems and python versions, and flushed
# once a week and for dials-data major and minor releases (eg. 2.0->2.1).
- task: Cache@2
  inputs:
    key: '"data" | "$(CACHE_VERSION)-$(CURRENT_WEEK)" | "$(DIALS_DATA_VERSION)" | "$(TODAY_ISO)" | "$(DIALS_DATA_VERSION_FULL)"'
    restoreKeys: |
      "data" | "$(CACHE_VERSION)-$(CURRENT_WEEK)" | "$(DIALS_DATA_VERSION)" | "$(TODAY_ISO)"
      "data" | "$(CACHE_VERSION)-$(CURRENT_WEEK)" | "$(DIALS_DATA_VERSION)"
    path: $(Pipeline.Workspace)/data
    cacheHitVar: DATA_CACHED
  displayName: Restore regression data cache

# Finally, run the full regression test suite
- bash: |
    set -e
    . dials
    set -ux
    export DIALS_DATA=${PWD}/data
    cd modules/xia2
    export PYTHONDEVMODE=1
    # A conflict between new setuptools and matplotlib causes test failures due to warnings in subprocesses
    export PYTHONWARNINGS='ignore:pkg_resources is deprecated as an API:DeprecationWarning,ignore:Deprecated call to `pkg_resources.declare_namespace:DeprecationWarning'
    pytest -v -ra -n auto --basetemp="$(Pipeline.Workspace)/tests" --durations=10 \
        --cov=$(pwd) --cov-report=html --cov-report=xml --cov-branch \
        --timeout=5400 --regression-full || echo "##vso[task.complete result=Failed;]Some tests failed"
  displayName: Run tests
  workingDirectory: $(Pipeline.Workspace)

- bash: bash <(curl -s https://codecov.io/bash) -t $(CODECOV_TOKEN) -n "Python $(PYTHON_VERSION) $(Agent.OS)"
  displayName: Publish coverage stats
  continueOnError: true
  timeoutInMinutes: 2
  workingDirectory: $(Pipeline.Workspace)/modules/xia2

# Recover disk space after testing
# This is only relevant if we had cache misses, as free disk space is required to create cache archives
- bash: |
    echo Disk space usage:
    df -h
    du -sh *
    echo
    echo Test artefacts:
    du -h tests
    rm -rf tests
  displayName: Recover disk space
  workingDirectory: $(Pipeline.Workspace)
  condition: ne(variables.DATA_CACHED, 'true')
